# Python
**/__pycache__/
*.py[cod]
*$py.class
.venv
.env

# Cache e Logs
*.log
/ai_cache.json

# Relatórios e Saídas (Sensitive data)
docs/
*.pdf

# IDEs e Sistema
/legacy
Thumbs.db

# Docker (Ignorar dados persistentes se houver)
docker/nucleus-templates/
docker/output/
docker/results/
docker/worldlists/